.dropbtn {  pointer-events: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
}

.dropdown {width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
   /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    */z-index: 1;
}

.dropdown-content a {  flex: 50%;

    border-radius: 4px;

    float: left;
    border: 5px solid #ddd;
    background-color: #5cb85c;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(92, 184, 92, 0.7);
}

.dropdown:hover .dropdown-content {

    display: flex;
}

.dropdown:hover .dropbtn {
    z-index: 1;
    background-color: #3e8e41;
    color: white;
}


.dropdown-content {
    position: relative;
    background-color: #ddd;

}




.dropdown-content {

    position: absolute;
    z-index: 10;
    top: -6px;

}
